#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define WIFI_SSID "your_wifi_ssid"
#define WIFI_PASSWORD "your_wifi_password"

#define METEO_USERNAME "your_meteomatics_username"
#define METEO_PASSWORD "your_meteomatics_password"
// Base64 of "username:password"
#define METEO_LOGIN_CREDENTIALS "your_base64_encoded_credentials"

#endif // CREDENTIALS_H
